<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic</h4>
            <p>The most basic dropdown menu.</p>
            <div class="m-t-25">
                <nz-dropdown>
                    <a nz-dropdown>
                        Hover me <i nz-icon type="down"></i>
                    </a>
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item>
                            <a>1st menu item</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item</a>
                        </li>
                    </ul>
                </nz-dropdown>
            </div>
            <codebox [codeContent]="dropdownBasicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Other elements</h4>
            <p>Divider and disabled menu item.</p>
            <div class="m-t-25">
                <nz-dropdown>
                    <a nz-dropdown>
                        Hover me <i nz-icon type="down"></i>
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item</a>
                        </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
                    </ul>
                </nz-dropdown>
                <codebox [codeContent]="dropdownOtherElementsCode"></codebox>
            </div>
        </nz-card>
        <nz-card>
            <h4>Click event</h4>
            <p>An event will be triggered when you click menu items, in which you can make different operations by adding events to item. <i>(Check console log)</i></p>
            <div class="m-t-25">
                <nz-dropdown>
                    <a nz-dropdown>
                        Hover me, Click menu item <i nz-icon type="down"></i>
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item (click)="log('1st menu item')">1st menu item</li>
                        <li nz-menu-item (click)="log('2nd menu item')">2nd menu item</li>
                        <li nz-menu-item (click)="log('3rd menu item')">3rd menu item</li>
                    </ul>
                </nz-dropdown>
                <codebox [codeContent]="dropdownClickEventCode"></codebox>
            </div>
        </nz-card>
        <nz-card>
            <h4>Cascading menu</h4>
            <p>The menu has multiple levels. <i>(Check console log)</i></p>
            <div class="m-t-25">
                <nz-dropdown (nzVisibleChange)="change($event)">
                    <a nz-dropdown>
                        Cascading menu <i nz-icon type="down"></i>
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item>1st menu item</li>
                        <li nz-menu-item>2nd menu item</li>
                        <li nz-submenu>
                            <span title>sub menu</span>
                            <ul>
                                <li nz-menu-item>3rd menu item</li>
                                <li nz-menu-item>4th menu item</li>
                            </ul>
                        </li>
                        <li nz-submenu nzDisabled>
                            <span title>disabled sub menu</span>
                            <ul>
                                <li nz-menu-item>3rd menu item</li>
                                <li nz-menu-item>4th menu item</li>
                            </ul>
                        </li>
                    </ul>
                </nz-dropdown>    
                <codebox [codeContent]="dropdownCascadingCode"></codebox>
            </div>
        </nz-card>
        <nz-card>
            <h4>Context Menu</h4>
            <p>Trigger <code>dropdown</code> with contextmenu.</p>
            <div class="m-t-25">
                <div style="background: rgb(190, 200, 200); padding: 32px;text-align: center" (contextmenu)="contextMenu($event,template)">
                    <ng-template #template>
                        <ul nz-menu nzInDropDown (nzClick)="close($event)">
                            <li nz-menu-item>1st menu item</li>
                            <li nz-menu-item>2nd menu item</li>
                            <li nz-menu-item nzDisabled>disabled menu item</li>
                            <li nz-submenu>
                                <span title>sub menu</span>
                            <ul>
                                <li nz-menu-item>3rd menu item</li>
                                <li nz-menu-item>4th menu item</li>
                            </ul>
                            </li>
                            <li nz-submenu nzDisabled>
                                    <span title>disabled sub menu</span>
                                <ul>
                                    <li nz-menu-item>3rd menu item</li>
                                    <li nz-menu-item>4th menu item</li>
                                </ul>
                            </li>
                        </ul>
                    </ng-template>
                    <span class="text-white">Context Menu</span>
                </div>  
                <codebox [codeContent]="dropdownContextMenuCode"></codebox>
            </div>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Placement</h4>
            <p>Support 6 placements.</p>
            <div class="m-t-25">
                <nz-dropdown [nzPlacement]="'bottomLeft'">
                    <button class="m-r-5" nz-button nz-dropdown>bottomLeft</button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item length</a>
                        </li>
                    </ul>
                </nz-dropdown>
                <nz-dropdown [nzPlacement]="'bottomCenter'">
                    <button class="m-r-5" nz-button nz-dropdown>bottomCenter</button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item length</a>
                        </li>
                    </ul>
                </nz-dropdown>
                <nz-dropdown [nzPlacement]="'bottomRight'">
                    <button class="m-r-5" nz-button nz-dropdown>bottomRight</button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item length</a>
                        </li>
                    </ul>
                </nz-dropdown>
                <nz-dropdown [nzPlacement]="'topLeft'">
                    <button class="m-r-5" nz-button nz-dropdown>topLeft</button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item length</a>
                        </li>
                    </ul>
                </nz-dropdown>
                <nz-dropdown [nzPlacement]="'topCenter'">
                    <button class="m-r-5" nz-button nz-dropdown>topCenter</button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item length</a>
                        </li>
                    </ul>
                </nz-dropdown>
                <nz-dropdown [nzPlacement]="'topRight'">
                    <button class="m-r-5" nz-button nz-dropdown>topRight</button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item length</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item length</a>
                        </li>
                    </ul>
                </nz-dropdown>
            </div>
            <codebox [codeContent]="dropdownPlacementCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Trigger mode</h4>
            <p>The default trigger mode is <code>hover</code>, you can change it to <code>click</code>.</p>
            <div class="m-t-25">
                <nz-dropdown [nzTrigger]="'click'">
                    <a nz-dropdown>
                        Click me <i nz-icon type="down"></i>
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item>1st menu item</li>
                        <li nz-menu-item>2nd menu item</li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item nzDisabled>disabled menu item</li>
                        <li nz-submenu>
                            <span title>sub menu</span>
                            <ul>
                                <li nz-menu-item>3rd menu item</li>
                                <li nz-menu-item>4th menu item</li>
                            </ul>
                        </li>
                        <li nz-submenu nzDisabled>
                            <span title>disabled sub menu</span>
                            <ul>
                                <li nz-menu-item>3rd menu item</li>
                                <li nz-menu-item>4th menu item</li>
                            </ul>
                        </li>
                    </ul>
                </nz-dropdown>
            </div>   
            <codebox [codeContent]="dropdownTriggerCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Button with dropdown menu</h4>
            <p>A button is on the left, and a related functional menu is on the right.</p>
            <div class="m-t-25">
                <nz-dropdown-button (nzClick)="logButton()"  class="m-r-5">
                    DropDown
                    <ul nz-menu>
                        <li nz-menu-item>1st menu item</li>
                        <li nz-menu-item>2nd menu item</li>
                        <li nz-submenu>
                            <span title>sub menu</span>
                            <ul>
                                <li nz-menu-item>3rd menu item</li>
                                <li nz-menu-item>4th menu item</li>
                            </ul>
                        </li>
                    </ul>
                </nz-dropdown-button>
                <nz-dropdown-button nzDisabled  class="m-r-5">
                    DropDown
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item</a>
                        </li>
                    </ul>
                </nz-dropdown-button>
                <nz-dropdown>
                    <button nz-button nz-dropdown><span>Button</span> <i nz-icon type="down"></i></button>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st menu item</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd menu item</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd menu item</a>
                        </li>
                    </ul>
                </nz-dropdown>
            </div>   
            <codebox [codeContent]="dropdownButtonCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>The way of hiding menu</h4>
            <p>The default is to close the menu when you click on menu items, this feature can be turned off.</p>
            <div class="m-t-25">
                <nz-dropdown [nzClickHide]="false" [(nzVisible)]="visible">
                    <a nz-dropdown>
                        Hover me <i nz-icon type="down"></i>
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item>Clicking me will not close the menu.</li>
                        <li nz-menu-item>Clicking me will not close the menu also.</li>
                        <li nz-menu-item (click)="visible = false">Clicking me will close the menu</li>
                    </ul>
                </nz-dropdown>
            </div>    
            <codebox [codeContent]="dropdownHidingCode"></codebox>
        </nz-card>
    </div>
</div>
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5 class="m-b-20">
            <span class="font-weight-light">nz-dropdown</span>
            <label class="api-type-label component">Component</label>
        </h5>
        <p>You should add <code>[nz-dropdown]</code> to the element that trigger dropdown</p>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>whether the dropdown menu is disabled</td>
                    <td>boolean</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzPlacement]</code></td>
                    <td>placement of pop menu: <code>bottomLeft ｜ bottomCenter ｜ bottomRight ｜ topLeft ｜ topCenter ｜ topRight</code></td>
                    <td>String</td>
                    <td><code>bottomLeft</code></td>
                </tr>
                <tr>
                    <td><code>[nzTrigger]</code></td>
                    <td>the trigger mode which executes the drop-down action</td>
                    <td><code>click</code>丨<code>hover</code></td>
                    <td><code>hover</code></td>
                </tr>
                <tr>
                    <td><code>[nzClickHide]</code></td>
                    <td>whether hide menu when click</td>
                    <td>boolean</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><code>[nzVisible]</code></td>
                    <td>whether the dropdown menu is visible, double binding</td>
                    <td>boolean</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzVisibleChange)</code></td>
                    <td>a callback function takes an argument: <code>nzVisible</code>, is executed when the visible state is changed</td>
                    <td><code>EventEmitter&lt;boolean&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
        <p>You should use <a href="/components/menu/en">nz-menu</a> in <code>nz-dropdown</code>. The menu items and dividers are also available by using <code>nz-menu-item</code> and <code>nz-menu-divider</code>.</p>
        <blockquote><p>nz-menu of nz-dropdown is unselectable by default, you can make it selectable via <code>&lt;ul nz-menu nzSelectable&gt;</code>.</p></blockquote>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5 class="m-b-20">
            <span class="font-weight-light">[nz-dropdown]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <p>mark the element that trigger dropdown</p>
    </div>   
    <hr> 
    <div class="markdown api-container">
        <h5 class="m-b-20">
            <span class="font-weight-light">nz-dropdown-button</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>whether the dropdown menu is disabled</td>
                    <td>boolean</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzPlacement]</code></td>
                    <td>placement of pop menu: <code>bottomLeft ｜ bottomCenter ｜ bottomRight ｜ topLeft ｜ topCenter ｜ topRight</code></td>
                    <td>String</td>
                    <td><code>bottomLeft</code></td>
                </tr>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>size of the button, the same as <a href="/components/button/en">nz-button</a></td>
                    <td>string</td>
                    <td><code>default</code></td>
                </tr>
                <tr>
                    <td><code>[nzType]</code></td>
                    <td>type of the button, the same as <a href="/components/button/en">nz-button</a></td>
                    <td>string</td>
                    <td><code>default</code></td>
                </tr>
                <tr>
                    <td><code>[nzTrigger]</code></td>
                    <td>the trigger mode which executes the drop-down action</td>
                    <td><code>click</code>丨<code>hover</code></td>
                    <td><code>hover</code></td>
                </tr>
                <tr>
                    <td><code>[nzClickHide]</code></td>
                    <td>whether hide menu when click</td>
                    <td>boolean</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><code>[nzVisible]</code></td>
                    <td>whether the dropdown menu is visible</td>
                    <td>boolean</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzVisibleChange)</code></td>
                    <td>a callback function takes an argument: <code>nzVisible</code>, is executed when the visible state is changed</td>
                    <td><code>EventEmitter&lt;boolean&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzClick)</code></td>
                    <td>a callback function which will be executed when you click the button on the left</td>
                    <td><code>EventEmitter&lt;MouseEvent&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>   
    <hr> 
    <div class="markdown api-container">
        <h5 class="m-b-20">
            <span class="font-weight-light">NzDropdownService</span>
            <label class="api-type-label service">service</label>
        </h5>
        <p>Create dropdown with contextmenu, the detail can be found in the example above</p>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Arguments</th>
                    <th>Return Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>create</td>
                    <td>create dropdown</td>
                    <td><code>($event:MouseEvent, template:TemplateRef&lt;void&gt;)</code></td>
                    <td>NzDropdownContextComponent</td>
                </tr>
                <tr>
                    <td>close</td>
                    <td>close dropdown</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>    
</nz-card>